* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Rubik', sans-serif;
}

.header-search {
    width: 100%;
    height: 30vh;
    background-image: url("images/pattern-bg-desktop.png");
}
.header-search > div {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    gap: 1rem;
    margin: 0 auto;
    text-align: center;
    padding-top: 1rem;
}
.header-search > div > h1 { width: 100%!important; font-weight: 700; font-size: 20px; color: white; }
.header-action {display:flex; flex-direction: row; }
.header-action > input {
    flex:1;
    width: 95%;
    padding: 0.8rem 0.5rem 0.8rem 0.5rem;
    border: solid 1px rgba(0, 0, 0, 0.400);
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.30);
}
.header-action > button {
    width: 50px;
    all: unset;
    padding: 0.8rem 0.9rem 0.7rem 0.9rem;
    background-color: black;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.30);
}
.header-action > button > img { height: 8px; padding-bottom:2px; }

.result-ip-adress {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    max-width: 70%;
    margin: 0 auto;
    margin-top: -50px;
    justify-content: center;
    border-radius: 0.5rem;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.30);
    padding: 1rem;
    background-color: rgb(255, 255, 255);
}
.info{
    display: flex;
    flex-direction: column;
    height: 5rem;
    width: 10rem;
    padding: 0.5rem;
    align-items: flex-start;
    text-align: left;
}
.info > small {
    font-size: 10px;
    color: darkgrey;
    margin-bottom: 0.5rem;
    font-weight: 700;
}
.border {
    border-left: solid 1px rgba(0, 0, 0, 0.118);
    padding-left: 1rem;
}

.container{
     position: relative;
}